/* BOOTSTRAP SETTINGS SECTION 

/* USER VARIABLES SECTION */

/* FONTS LOAD SECTION 
@font-face {
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2");
  font-family: "roboto-st";
  font-weight: 400;
  font-style: normal;
}
/* GENERAL CSS SETTINGS */

body {
  background-color: #000;
  font-family: 'Poppins', sans-serif;
}

.container{
	max-width: 1640px;
	margin: 0 auto;
}

/* USER STYLES */

.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 46px;
}

.nav__list-item{
	display: inline-block;
	margin-right: 30px;
	text-transform: uppercase;
}

.nav__list-item a{
	color: #fff;
}

.header__button{
	text-transform: capitalize;
	color: #707070;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	margin-right: 24px;
	cursor: pointer;
}

.header__button-active{
	padding: 12px 20px 13px 22px;
	border-radius: 7px;
	background-color: #306EF7;
	color: #fff;
}

/* INTRO */

.intro__box{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.intro__title{
	font-weight: 700;
	font-size: 112px;
	line-height: 168px;
	color: #fff;
	text-align: center;
	margin-top: 128px;
}

.intro__title--active{
	background-color: #2AA5A0;
	background-image: linear-gradient(90deg, #FE6783, #FFBF84);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.intro__subtitle{
	font-weight: 500;
	font-size: 40px;
	line-height: 60px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 120px;
	margin-bottom: 50px;
}

.intro__button{
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #707070;
	border-radius: 10px;
	padding: 24px 74px;
	background-color: transparent;
	border: 1px solid #707070;
	margin-right: 26px;
	margin-bottom: 20px;
}

.intro__button:last-child{
	margin-right: 0;
}

.intro__button-active{
	background-color: #326CF9;
	color: #fff;
	border: 0;
}

.intro__online{
	display: flex;
	align-items: center;
}

.intro__text{
	font-weight: 400;
	font-size: 25px;
	line-height: 38px;
	text-align: center;
	color: #707070;
}

.intro__icon{
	display: inline-block;
	margin-right: 10px;
}

.intro__text-number{
	font-weight: 700;
	font-size: 25px;
	line-height: 38px;
	color: #FFFFFF;
}




